body {
    margin: auto;
    font-size: 14px;
    font-family: Consolas, '微软雅黑', 'Courier New', monospace;
    line-height: 1.5;
    margin: 0%;
}

p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}

.alert {
    position: relative;
    padding: 7px;
    margin: 7px 0;
    border: 1px solid transparent;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    border-radius: 5px;
}

/* 地图 */

iframe {
    width: 100%;
    height: 100vh;
    border: none;
}

/* 左下角面板 */

.SelectionPanelContainer-index {
    width: 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.2); /* semi-transparent gray */
}

.SelectionPanelContainer-lossmap {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.2); /* semi-transparent gray */
}
.SelectionPanelContainer-lossmap .SelectionPanel {
    width: 50%-5px;
    text-align: left;
    padding: 5px;
    border: 1px solid #000000;
}
.SelectionPanelContainer-lossmap .EQsource {
    width: 50%-5px;
    padding: 5px;
    border: 1px solid #000000;
}
.SelectionPanelContainer-lossmap .CDF_loss {
    width: 100%;
}

input[type="submit"] {
    margin: 10px 0;
    padding: 2px 4px;
    border: none;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #7b7b7b; /* darker background on hover */
}

h3 {
    margin: 10px 0;
}
