{% extends 'base.html' %}

{% block head %}
{{ super() }}
<style>
.SelectionPanelContainer-index {
    width: 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.2); /* semi-transparent gray */
    z-index: 10;
}
</style>
{% endblock %}

{% block content %}

<iframe
  title="Rupture Map"
  srcdoc="{{ html_content }}">
</iframe>

<div class="SelectionPanelContainer-index">

  <div class="SelectionPanel">

    <form action="{{ url_for('index') }}" method="post">        
      <div class="SelectionPanelForCity">
        {% include 'city_selector.html' %}
      </div>

      <div class="SelectionPanelForRupture">
          <label for="eq_i_rup">震源索引:</label>
          <br>
          <input type="number" id="eq_i_rup" name="eq_i_rup" value="{{ eq_i_rup }}" min="0" style="width: 40px;">
          <br>
          <input type="submit" name="action" value="显示损失分布图">
      </div>

    </form>

  </div>
  
  

</div>

{% endblock %}