addressparser==0.2.4
affine==2.4.0
alpha_shapes==1.1.1
asgiref==3.8.1
attrs==25.3.0
BldCluster==0.1.0
BldStructPred==0.2.0
blinker==1.9.0
branca==0.8.1
Brotli==1.1.0
Cartopy==0.24.1
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.0
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==3.1.1
CNCityRisk==0.2.0
colorama==0.4.6
contourpy==1.3.2
cycler==0.12.1
dask==2025.5.0
decorator==5.2.1
Django==4.2.21
docutils==0.21.2
dotenv==0.9.9
eqsig==1.2.17
et_xmlfile==2.0.0
fiona==1.10.1
Flask==3.1.1
Flask-Compress==1.17
folium==0.19.6
fonttools==4.58.0
fsspec==2025.3.2
GDAL==3.11.0
geojson==3.2.0
geojsoncontour==0.5.1
geopandas==1.0.1
h5py==3.13.0
idna==3.10
inflate64==1.0.1
intel-cmplr-lib-ur==2025.1.1
intel-openmp==2025.1.1
itsdangerous==2.2.0
jieba==0.42.1
Jinja2==3.1.6
joblib==1.5.0
kiwisolver==1.4.8
llvmlite==0.44.0
locket==1.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
MDOFModel==0.1.1
mkl==2025.1.0
mkl-service==2.4.2
multivolumefile==0.2.3
numba==0.61.2
numpy==1.26.0
openpyxl==3.1.5
openquake.engine==3.23.2
openseespy==3.7.1.2
openseespywin==3.7.1.2
packaging==25.0
pandas==2.2.3
partd==1.4.2
pillow==11.2.1
psutil==7.0.0
py7zr==0.22.0
pybcj==1.0.6
pycryptodomex==3.22.0
pyogrio==0.11.0
pyparsing==3.2.3
pypinyin==0.54.0
pyppmd==1.1.1
pyproj==3.7.1
pyshp==2.3.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
PyYAML==6.0.2
pyzmq==26.4.0
pyzstd==0.17.0
rasterio==1.4.3
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.3
setuptools==80.7.1
shapely==2.1.0
six==1.17.0
sqlparse==0.5.3
tbb==2022.1.0
tcmlib==1.3.0
texttable==1.7.0
threadpoolctl==3.6.0
toml==0.10.2
toolz==1.0.0
tqdm==4.67.1
typing_extensions==4.13.2
tzdata==2025.2
umf==0.10.0
urllib3==2.4.0
visvalingamwyatt==0.3.0
Werkzeug==3.1.3
wheel==0.45.1
xarray==2025.4.0
xyzservices==2025.4.0
zstandard==0.23.0
