addressparser==0.2.4
affine==2.4.0
alpha-shapes==1.1.0
asgiref==3.7.2
asttokens==2.4.1
attrs==23.1.0
blinker==1.8.2
branca==0.7.2
Brotli==1.1.0
build==1.2.2.post1
Cartopy==0.24.1
certifi==2023.11.17
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==3.1.0
CNCityRisk==0.1.0
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.2.0
cycler==0.12.1
dask==2024.11.2
decorator==5.1.1
Django==4.2.10
django-appconf==1.0.6
django-cookie-consent==0.6.0
django-cors-headers==4.3.1
django-pam==2.1.2
docutils==0.20.1
eqsig==1.2.11
et-xmlfile==1.1.0
executing==2.1.0
fiona==1.9.5
flake8==6.1.0
Flask==3.0.3
Flask-Compress==1.17
flatbuffers==23.5.26
folium==0.17.0
fonttools==4.39.0
fsspec==2024.10.0
GDAL==3.7.3
geojson==3.1.0
geojsoncontour==0.4.0
geopandas==1.0.1
h5py==3.10.0
hatch-requirements-txt==0.4.1
hatchling==1.27.0
heartrate==0.2.2
humanfriendly==10.0
idna==3.6
importlib-metadata==7.0.0
inflate64==1.0.1
iniconfig==2.0.0
itsdangerous==2.2.0
jieba==0.42.1
Jinja2==3.1.4
kiwisolver==1.4.5
llvmlite==0.41.1
locket==1.0.0
MarkupSafe==2.1.5
matplotlib==3.8.2
mccabe==0.7.0
mkl_fft==1.3.11
mkl_random==1.2.8
mkl-service==2.4.0
mpmath==1.3.0
multivolumefile==0.2.3
munch==4.0.0
networkx==3.2.1
numba==0.58.1
numpy==1.26.2
onnxruntime==1.16.3
openpyxl==3.1.5
openquake.engine==3.21.0
openseespy==3.6.0.3
openseespywin==3.6.0.3
packaging==24.2
pandas==2.1.0
partd==1.4.2
pathspec==0.12.1
pbr==6.0.0
Pillow==10.1.0
pip==24.2
pluggy==1.3.0
protobuf==4.25.1
psutil==5.9.6
py7zr==0.22.0
pybcj==1.0.3
pycodestyle==2.11.1
pycryptodomex==3.21.0
pyflakes==3.1.0
Pygments==2.18.0
pyogrio==0.9.0
pyparsing==3.1.1
pyppmd==1.1.1
pyproj==3.6.1
pyproject_hooks==1.2.0
pyreadline3==3.4.1
pyshp==2.3.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-pam==2.0.2
pytz==2023.3
PyYAML==6.0.2
pyzmq==26.0.3
pyzstd==0.16.2
rasterio==1.4.1
requests==2.31.0
scipy==1.11.4
setproctitle==1.3.3
setuptools==69.0.2
shapely==2.0.2
six==1.16.0
sqlparse==0.4.4
sympy==1.12
texttable==1.7.0
toml==0.10.2
toolz==1.0.0
tqdm==4.66.5
trove-classifiers==2024.10.21.16
tzdata==2023.3
urllib3==2.1.0
Werkzeug==3.0.6
wheel==0.43.0
xarray==2024.9.0
xpinyin==0.7.6
xyzservices==2024.6.0
zipp==3.17.0
zstandard==0.23.0
